/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.countdown {
  position: absolute;
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  height: 366px;
  left: 0;
  text-align: center;
  top: 0;
  width: 100%;
}

.wrapCountdown {
  width: 1594px;
  position: relative;
}