/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
.container {
  width: 1594px;
}

.countdown {
  position: absolute;
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  height: 366px;
  left: 0;
  text-align: center;
  top: 0;
  width: 100%;
}
.countdown-block {
  display: flex;
  flex-direction: column;
}

.countdown .countdown-block:not(:last-child) {
  margin-right: 42px;
}

.tick {
  font-size: 26px;
}
.wrap-countdown {
  /* width: 1594px; */
  position: relative;
}

.digit-number {
  font-family: Roboto,sans-serif;
  font-size: 107px;
  font-variant-numeric: tabular-nums;
  font-weight: 300;
}


[type="email"], [type="number"], [type="password"], [type="search"], [type="tel"], [type="text"] {
  background: #fff;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 4px;
  font-size: 14px;
  height: 2em;
  line-height: 2em;
  padding: 0 .5em;
  vertical-align: middle;
}