.countdown {
  position: absolute;
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  height: 366px;
  left: 0;
  text-align: center;
  top: 0;
  width: 100%;
}
.countdown-block {
  display: flex;
  flex-direction: column;
}
.form-input {
  display: flex;
  margin-top: 12px;
}
.form-input label:first-child {
  margin-right: 24px;
}
.countdown .countdown-block:not(:last-child) {
  margin-right: 42px;
}
label {
  font-weight: bold;
  flex-basis: 130px;
}
.time-unit {
  font-size: 26px;
}
.wrap-countdown {
  position: relative;
}

.digit-number {
  font-family: Roboto,sans-serif;
  font-size: 107px;
  font-variant-numeric: tabular-nums;
  font-weight: 300;
}

button {
  background: #ea7723;
  border: none;
}